[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
pandas = "*"
jupyter = "*"
notebook = "*"
beautifulsoup4 = "*"
jsonschema = "*"
sqlalchemy = "*"

[dev-packages]

[requires]
python_version = "3.12"
